html {
  background-color: rgb(29, 29, 29);
  color: cornsilk;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200px;
  font-style: normal;
  max-width: 2000px;
  margin: 0 auto;
}

::selection {
  color: inherit;
  background: transparent;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 90px;
  width: 100%;
}

header img {
  padding-top: 80px;
  width: 200px;
  height: auto;
}

video {
  height: 400px;
  width: auto;
}

h1 {
  padding-left: 50px;
}

nav a {
  justify-content: end;
  color: cornsilk;
  padding: 0 30px;
  text-decoration: none;
  font-size: 20px;
}

/* nav p {
  padding-right: 25px;
} */

.topRight {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 200px;
  padding-top: 80px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#joke-butt {
  font-size: 90px;
}

#joke-butt:hover {
  cursor: pointer;
}

#setup{
  font-size: 30px;
}

#punchline{
  font-size: 45px;
}

/* #prank {
  height: 50px;
  width: 200px;
} */

.prank-class {
  background-color: rgb(29, 29, 29);
  border: 1px solid transparent;
  font-size: 19px;
  color: cornsilk;
  padding: 5px;
}

#prank-1:hover {
  cursor: pointer;
}

#prank-2 {
  font-size: 0px;
  margin-right: 500px;
  width: 0px;
  height: 0px;
}

#prank-3 {
  background-color: none;
  color: transparent;
  font-size: 0px;
  margin-left: 600px;
  margin-top: 10px;
  }

#prank-4 {
  background-color: none;
  color: transparent;
  font-size: 0px;
  margin-right: 500px;
  }

#prank-5 {
  background-color: none;
  color: transparent;
  font-size: 0px;
  }

#prank-6 {
  background-color: none;
  color: transparent;
  font-size: 0px;
  margin-left: 800px;
  }

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  margin-top: 500px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

footer p {
  font-size: 12px;
  padding-left: 10px;
}

footer a {
  color: yellow;
  font-size: 15px;
  padding: 5px;
  text-decoration: underline;
}

.github{
  margin-left: 15px;
  color: cornsilk;
  text-decoration: none;
}

.github:hover{
  color: yellow;
  cursor: pointer;
}

#joke-butt:hover {
  transform: rotate(360deg);
  transition: transform 2s; /* Add a smooth transition for the rotation */
}

#flash {
  font-size: 30px;
}

.white-background {
  background-color: white;
  color: white;
}

#cookies {
  display: none;
  flex-direction: column;
}

#cookies img {
  width: 200px;
  height: auto;
  padding-bottom: 15px;
  padding-left: 15px;
}

#cookies > form{

  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 20px;
  color: cornsilk;
  margin-bottom: 100px;
  border: 1px solid cornsilk;
  border-radius: 4px;
}

#cookies p{
  font-size: 18px;
  padding-left: 30px;
  padding-bottom: 15px;
  text-decoration: underline;
  color: yellow;
}

#cookies button{
  padding: 5px;
  margin-left: 70px;
  margin-top: 10px;
  background-color: cornsilk;
  border: none;
  border-radius: 2px;
  color: rgb(29, 29, 29);
}

#cookies button:hover{
  cursor: pointer;
  box-shadow: 1px 1px 4px yellow;
}

/* @keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  5% {
    transform: translate(0px, 600px);
  }
  100% {
    transform: translate(0px, 600px);
  }
} */

@media (max-width: 1300px) {
  #prank-3 {
    color: transparent;
    margin-right: 120px;
  }
  .topRight {
    flex-direction: column;
  }
  nav {
    padding: 20px;
  }
}
