html {
  background-color: rgb(29, 29, 29);
  color: cornsilk;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200px;
  font-style: normal;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  margin-bottom: 50px;
}

h1 {
  padding-left: 50px;
  padding-right: 40%;
}

nav a {
  justify-content: end;
  color: cornsilk;
  padding-right: 25px;
  text-decoration: none;
  font-size: 20px;
}

/* nav p {
  padding-right: 25px;
} */

.topRight {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#joke-butt {
  font-size: 100px;
}

#joke-butt:hover {
  cursor: pointer;
}

/* #prank {
  height: 50px;
  width: 200px;
} */

button{
  background-color: rgb(29, 29, 29);
  border: 1px solid transparent;
  font-size: 19px;
  color: cornsilk;
  padding: 5px;
}

#prank-1:hover{
  cursor: pointer;
}

#prank-2{
  color: rgb(29, 29, 29);
  margin-right: 500px;
}

#prank-3{
  color: rgb(29, 29, 29);
  margin-right: 1200px;
}

#prank-4{
  color: rgb(29, 29, 29);
}

#prank-5{
  color: rgb(29, 29, 29);
}

#prank-6{
  color: rgb(29, 29, 29);
  margin-left: 800px;
}

.div-3-prank{
  display: flex;
  justify-content: start;
}

#prank-1:focus #prank-2:hover{
  cursor: pointer;
}

footer{
  display: flex;
  justify-content: center;
  margin-top: 500px;
  position: absolute;
  bottom: 0;

}

footer p{
  margin-left: 500px;
  margin-right: 225px;
  font-size: 10px;
}

footer a{
  color: yellow;
  text-decoration: none;
  font-size: 10px;
}

#joke-butt:hover {
  transform: rotate(360deg);
  transition: transform 2s; /* Add a smooth transition for the rotation */
}


/* @keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  5% {
    transform: translate(0px, 600px);
  }
  100% {
    transform: translate(0px, 600px);
  }
} */
