html{
    background-color: rgba(0, 0, 0, 0.82);
    color: cornsilk;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 100%;
    margin-bottom: 200px;
}

h1{
    padding-left: 50px;
    padding-right: 40%;
}

nav a{
    justify-content: end;
    color: cornsilk;
    padding-right: 25px;
    text-decoration: none;

}

nav p {
    padding-right: 25px;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#joke-butt{
    font-size: 100px;
}

#joke-butt:hover{
    cursor: pointer;
}

#prank{
    height: 50px;
    width: 200px;
}

#prank:hover{
    cursor: pointer;
    animation: move 1s;
}

@keyframes move{
    0%{
        transform: translate(0px, 0px);
    }
    100%{
        transform: translate(0px, 600px);
    }
}
